body {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 100px;
}

.btn {
  padding: 8px 16px;
  background-color: var(--button-bg);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--button-hover-bg);
}

/* Heading */
h1 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.welcome-msg {
  font-weight: bold;
  color: var(--text-color);
  margin-right: 10px;
  align-self: center;
}



/* Game Sections START*/
.game-section {
  background-color: var(--game-section-bg);
  position: relative;
  min-height: 300px;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--button-bg);
  border-radius: 10px;
}

.game-section h2 {
  color: var(--text-color);
  margin-bottom: 15px;
}

/* Game Buttons*/

.slider-wrapper {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: visible;
}


.game-list {
  display: flex;
  overflow-x: hidden;
  overflow-y: visible;
  gap: 10px;
}

.game-list::-webkit-scrollbar {
  display: none;
}

.game-btn {
  flex: 0 0 auto;
  width: 180px;
  height: 180px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-btn img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.game-btn:hover img {
  transform: scale(1.05);
}

/* View All Button */
.view-all-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-all-btn:hover {
  background-color: var(--button-hover-bg);
}

/* Responsive Design */
@media (max-width: 768px) {
  .game-btn {
    flex: 1 1 calc(33.33% - 10px);
  }
}

@media (max-width: 480px) {
  .game-btn {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 360px) {
  .game-btn {
    flex: 1 1 100%;
  }
}

.prev-btn,
.next-btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
  z-index: 2;
}

.prev-btn {
  margin-right: 5px;
}

.next-btn {
  margin-left: 5px;
}

/* Game Sections END*/