html {
    overflow-y: scroll;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Search Bar START */
.left-section {
    display: flex;
    align-items: center;
}


.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.search-container input {
    border: none;
    outline: none;
    width: pointer;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Search Bar END */

/* Right Section START (About_Us/Login/Register Buttons) */
.right-section {
    display: flex;
    gap: 15px;
}

/* Right Section END (About_Us/Login/Register Buttons) */

/* Center Section START (Home Page Title in Navbar) */
.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Center Section END (Home Page Title in Navbar) */

/*Navbar Button Types START*/
.navbarBtn {
    padding: 8px 16px;
    background-color: var(--button-bg);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    color: var(--button-text);
}

.navbarBtn:hover {
    background-color: var(--button-hover-bg);
}

/*Navbar Button Types END*/