/* Colors.css - Tüm renkleri burada tanımlıyoruz */
:root {
    /* Genel Arka Plan ve Temel Renkler */
    /* Hafif Deniz Mavisi */
    --background-color: #E6F7FF;
    /* Deniz Mavisi */
    --navbar-color: #008CBA;
    /* Koyu Deniz Mavisi - h2 color*/
    --text-color: #004466;

    /* Butonlar */
    /* Sıcak Sarı */
    --button-bg: #FFD700;
    /* Hafif Altın Sarısı */
    --button-hover-bg: #FFC107;
    /* Koyu Mavi (buton içi yazılar) */
    --button-text: #004466;

    /* Başlık ve Metin Renkleri */
    /* Deniz Mavisi */
    --heading-color: #0077B6;
    /* Biraz daha koyu mavi */
    --subheading-color: #005B99;

    /* Oyun Kartları ve Kutular */
    /* Kumsal Sarısı */
    --game-section-bg: #FFFAE5;
    /* Sarı Çerçeve */
    --game-section-border: #FFD700;
    /* Kumsal Sarısı */
    --game-button-bg: #FFFAE5;
    /* Açık Kum Rengi */
    --game-button-hover-bg: #FFE4B5;
    /* Deniz Mavisi - h1 color*/
    --game-button-border: #0077B6;

    /* Diğer Elemanlar */
    /* Arama Çubuğu Arka Planı */
    --search-bar-bg: white;
}