/* Fix Content Overlapping with Navbar */
body {
    background-color: var(--background-color);
    text-align: center;
    padding-top: 80px; /* Adjust based on navbar height */
}

/* Page Title */
.page-title {
    color: var(--heading-color);
    margin-bottom: 20px;
}

.btn {
    padding: 8px 16px;
    background-color: var(--button-bg);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

/* Game List */
.game-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Game Card */
.game-card {
    display: flex;
    width: 90%;
    max-width: 800px;
    background-color: var(--game-section-bg);
    border: 1px solid var(--game-section-border);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
}

/* Game Image */
.game-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

/* Game Info */
.game-info {
    text-align: left;
}

.game-info h2 {
    color: var(--text-color);
    margin-bottom: 10px;
}

.game-info p {
    color: var(--subheading-color);
}
