body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
}

.btn {
  padding: 8px 16px;
  background-color: var(--button-bg);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.btn:hover {
  background-color: var(--button-hover-bg);
}

/* Login Form */
.form-container {
  background-color: var(--game-section-bg);
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.form-container h2 {
  color: var(--text-color);
  margin-bottom: 15px;
}

/* Inputs */
.form-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #7a5e91;
  border-radius: 5px;
}

/* Submit Button */
.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--button-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.submit-btn:hover {
  background-color: var(--button-hover-bg);
}