html {
    overflow-y: scroll;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left-section {
    display: flex;
    align-items: center;
}

/* Search Bar */
.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.search-container input {
    border: none;
    outline: none;
    width: pointer;
    /*Burası değişti - 200px*/
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Right Section (Login/Register Buttons) */
.right-section {
    display: flex;
    gap: 15px;
}

/* Center Section (Home Page Title in Navbar) */
.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}